[Unit]
Description=AR Soft XMPP Daemon
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=nobody
Group=nogroup
EnvironmentFile=/etc/default/arsoft-xmpp-daemon
ExecStart=/usr/bin/arsoft-xmpp-daemon --config /etc/arsoft/xmpp-daemon.conf --systemd
