Source: arsoft-xmpp-daemon
Section: admin
Priority: extra
Maintainer: Andreas Roth <aroth@arsoft-online.com>
Build-Depends: debhelper (>= 9), dh-systemd, libswiften-dev (>= 2.0), cmake,
 libboost-program-options1.55-dev | libboost-program-options-dev,
 libxml2-dev, libidn11-dev, zlib1g-dev, libssl-dev
Standards-Version: 3.9.5
Homepage: https://github.com/aroth-arsoft/arsoft-xmpp-daemon

Package: arsoft-xmpp-daemon
Architecture: amd64 i386
Depends: libswiften2 (>= 2.0), ${misc:Depends}, ${shlibs:Depends}
Description: XMPP relay daemon for system monitoring notifications
 Background XMPP relay daemon to forwards notifications from the system
 or monitoring suite to a configured number of recipients.

Package: arsoft-xmpp-daemon-dbg
Architecture: any
Section: debug
Priority: extra
Depends: arsoft-xmpp-daemon (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for arsoft-xmpp-daemon
 This package contains the debugging symbols for arsoft-xmpp-daemon.