#!/usr/bin/make -f
# -*- makefile -*-

DEB_CMAKE_EXTRA_FLAGS += -DCMAKE_BUILD_TYPE=RelWithDebInfo

%:
	dh $@ --with systemd

override_dh_clean:
	dh_clean
	-rm -rf build

override_dh_strip:
	dh_strip --dbg-package=arsoft-xmpp-daemon-dbg
